*{
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
body{
     background-color: #281D45;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: #281D45;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
h2{
    color: #FF22B8;
    margin-top: 40px;
    margin-bottom:40px;
    text-shadow:
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black;
}
div.personagens img{
    height: 150px;
    cursor: pointer;
    transition: 0.3s;
}
div.personagens img:hover{
    border: 3px solid white;
}

div.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}