*{
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: #281D45;
}