*{
    padding: 0;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/desktop1.png");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover  ;
    background-repeat: no-repeat;
}
main button{
    cursor: pointer;
    background-color: #FF22B8;
    height: 100px;
    width: 500px;
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 2rem;
    border: 2px solid black;
    transition: .8s;
}
main button:hover{
   background-color: white;
   color: #FF22B8;
     
}