*{
    padding: 0;
    margin: 0;
}

main{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/desktop1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}